# Python
*.pyc
*.pyo
*.py[cod]
**/__pycache__/
*.egg-info/

# Virtualenv
.venv/
env/
bin/
lib/
share/
local/
include/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Env files
.env
.env.*
!.env.example

# Локальные демо-аудио и временные файлы
assets/
upload/

# Логи и данные
**/data/
**/logs/

# Dev docker
docker-compose.override.yml
